/* Attributions styles */
#mmgis-attributions {
    position: absolute;
    bottom: 0px;
    left: 0px;
    pointer-events: auto;
    z-index: 1000;
    font-size: 12px;
    color: var(--color-a5);
    background: var(--color-a);
    border-left: 1px solid black;
    padding: 2px 4px 2px 3px;
    line-height: 1.3;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.5px;
    font-family: 'lato-light';
    text-overflow: ellipsis;
}

#mmgis-attributions a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

#mmgis-attributions a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
}

#mmgis-attributions span {
    display: inline;
}
